@model Database_Project.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h2>Book Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>

        <dt class="col-sm-2">Authors</dt>
        <dd class="col-sm-10">@Model.Authors</dd>

        <dt class="col-sm-2">Publisher</dt>
        <dd class="col-sm-10">@Model.Publisher</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
