@model Database_Project.Controllers.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/general.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div class="search-container container">
    <form asp-action="Index" method="get" class="search-form">
        <input type="text" name="searchString" id="search-input" placeholder="Search for a book..." value="@Context.Request.Query["searchString"]" />
        <button type="submit" id="search-button">Search</button>
    </form>
</div>

<div class="home-container container grid grid--3--cols">
    
    @foreach (var book in Model.AllBooks)
    {
        <div class="meal">
            <a asp-action="Details" asp-controller="Book" asp-route-id="@book.Id">
                <img class="travel-image"
                     src="@(string.IsNullOrEmpty(book.ImagePath) ? "/img/default-book.jpg" : book.ImagePath)"
                     alt="@book.Title" />
            </a>
            <p class="meal-title">@book.Title</p>
            <ul class="meal-attributes">
                <li class="meal-attribute"><span>By: @book.Authors</span></li>
                <li class="meal-attribute"><span>@book.Publisher</span></li>
            </ul>
        </div>
    }
</div>